.code-indent {
  display: contents;
}

a {
  color: #eef8ff;
  cursor: pointer;
  text-decoration: none;
}

.title {
  margin-bottom: 0 !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

#nav-title {
  color: white;
  font: 20px 'Arial';
  font-weight: bold;
  padding-left: 4px;
}

.MuiTableRow-root th, 
.MuiTableRow-root td {
  
  padding: 8px;
  text-align: left;
  
  
}

/* This style block for .MuiTableRow-root is not necessary for affecting cell borders
and could potentially cause confusion as borders are typically not applied directly to rows for the purpose of defining cell borders.
If you meant to define a border for the whole table, consider applying styles to the <table> element instead.
I'll remove it to focus on cell styles: */

.MuiTableRow-root th {
  background-color: #212121; /* Specific to header cells */
  font-weight: 500;
  border: 1px solid #000000;
}

.MuiTableRow-root td {
  color: #FFFEFE; /* Specific to data cells */
  font-weight: 500;
}


.line-highlight {
  margin-top: 1.4em !important;
  background-color: rgba(255, 255, 0, 0.2) !important;
}

.gray-10 {
  color: #f5f5f5;
}
.gray-20 {
  color: #e0e0e0;
}
.gray-30 {
  color: #cccccc;
}
.gray-40 {
  color: #b3b3b3;
}
.gray-50 {
  color: #999999;
}
.gray-60 {
  color: #808080;
}
.gray-70 {
  color: #666666;
}
.gray-80 {
  color: #4d4d4d;
}
.gray-90 {
  color: #FFFEFE;
}
.gray-100 {
  color: #000000;
}